@mixin margin( $amount, $direction:all ){
  @if $direction == all{
    margin: ems($amount);
  } @else if $direction == auto{
    margin: ems($amount) auto;
  } @else {
    margin-#{$direction}: ems($amount);
  }
}

@mixin padding( $amount, $direction:all ){
  @if $direction != all{
    padding-#{$direction}: ems($amount);
  } @else {
    padding: ems($amount);
  }
}

@mixin width($width, $type:default, $ems: true){
  $output: '';

  @if $ems == false {
    $output: $width;
  } @else{
    $output: ems($width);
  }

  @if $type == min{
    min-width: $output;
  }@else if $type == max{
    max-width: $output;
  }@else {
    width: $output;
  }

}

@mixin height( $height, $type:all, $ems: true) {
  $output: '';

  @if $ems == false {
    $output: $height;
  } @else{
    $output: ems($height);
  }

  @if $type == min{
      min-height: $output;
  } @else if $type == max {
      max-height: $output;
  } @else {
      height: $output;
  }
}