<sign-up-form></sign-up-form>
<div class="container col-md-8 col-md-offset-2 wrapper">
  <form name="worklistform">
    <header class="row">
      <input class="h1" id="title" ng-model="worklist.user_profile.title" placeholder="Your name" required/>
      <input class="h2" id="address" ng-model="worklist.user_profile.address" placeholder="Your address" />
      <section id="contact-details">
	<input class="span" ng-model="worklist.user_profile.email" placeholder ="Email" required/>
      </section>
    </header>
    <section id="summary" class="content-section">
      <h1>Summary</h1>
      <textarea class="p" id="summary-input" ng-model="worklist.user_profile.summary" placeholder= "A summary of you"></textarea>
      <section id="career-objective">
        <h2> Career Objective</h2>
        <textarea class="p" id="career-objective" ng-model="worklist.user_profile.career_objectives"></textarea>
      </section>
      <section id="key-skills">
        <h2> Key Skills </h2>
        <ul>
          <li ng-repeat="skill in worklist.user_profile.skills_attributes"><input ng-model="skill.title" /><input type='hidden' ng-model="skill.key_skill" /></li>
        </ul>
      </section>
    </section>
    <section id="job-history" class="content-section">
      <h1>Employment History</h1>
      <div ng-repeat="job in worklist.user_profile.jobs_attributes">
	<job-history job="{{job}}"></job-history>
      </div>
    </section>
    <section class="row content-section" id="education-history">
      <h1>Education History</h1>
      <div ng-repeat="education in worklist.user_profile.qualifications_attributes">
        <section class="education">
          <input class="h3 qualification" ng-model="education.title" />
          <input class="span grade" ng-model="education.grade" />
          <input class="span institute" ng-model="education.institute" />
        </section>
      </div>
    </section>
    <section id="skills" class="row content-section">
    </section>
    <section id="interests" class="row content-section">
    </section>
  </form>
</div>

<section class="row" id="#account-bar">
  <nav class="navbar-fixed-bottom navbar navbar-default">
    <div class="navbar-header" role="navigation">
      <a class="navbar-brand" href="/">workli.st</a>
    </div>
    <button ng-click="saveWorkList()" ng-disabled="worklistform.$invalid">Save</button>
  </nav>
</section>
<div class="backdrop is-hidden" backdrop></div>
