<section id="signup" ng-show="showSignUp" >
    <a ng-click="closeSignUp()">Close</a>
  <h1>Your WorkList has been saved</h1>
  <p>You can view your WorkList for the next 30 days using the URL below</p>
  <a href="/me/{{worklist.user_profile.url}}">http://workli.st/me/{{ worklist.user_profile.url }}</a>
  <h2>Want your WorkList to last longer than 30 days?</h2>
  <p>Sign up and we'll keep your worklist for as long as you need it.</p>
  <form name="signup">
    <div class="input">
      <label for="signup-email">Email</label>
      <input type="email" ng-model="worklist.user_profile.email" id="signup-email" required/>
    </div>
    <div class="input">
        <p>Passwords should be a minimum of 8 characters</p>
      <label for="signup-password">Password</label>
      <input type="password" ng-model="worklist.user_profile.password" required ng-minlength="8"/>
    </div>
    <div class="input">
      <label for="signup-password">Confirm your password</label>
      <input type="password" ng-model="confirm" required/>
    </div>
  <button ng-disabled="signup.$invalid || worklist.user_profile.password != confirm" ng-click="signUp()">Sign Up</button>
  </form>
</section>
