<section id="signup" ng-show="worklist.url">
  <h1>Your WorkList has been saved</h1>
  <p>You can view your WorkList for the next 30 days using the URL below</p>
  <a href="worklist.url">http://workli.st/{{worklist.url}}</a>
  <h2>Want your WorkList to last longer than 30 days?</h2>
  <p>Sign up and we'll keep your worklist for as long as you need it.</p>
  <form name="signup">
    <div class="input">
      <label for="signup-email">Email</label>
      <input type="email" ng-model="worklist.email" id="signup-email"/>
    </div>
    <div class="input">
      <label for="signup-password">Password</label>
      <input type="password" ng-model="worklist.password" />
    </div>
    <div class="input">
      <label for="signup-password">Confirm your password</label>
      <input type="password" ng-model="worklist.confirm" />
    </div>
    <button type="submit" ng-disabled="signup.$invalid || worklist.password != worklist.confirm" ng-click="signUp()">Sign Up</button>
  </form>
</section>