<!-- <section id="signin" ng-show="showSignIn" >
    <a ng-click="close()">Close</a>
    <h1>Sign In</h1>
    <form name="signin" role="form">
        <div class="form-group">
            <label for="signin-email">Email</label>
            <input type="email" ng-model="user.email" id="signin-email" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="signin-password">Password</label>
            <input type="password" ng-model="user.password" required ng-minlength="8" id="signin-password" class="form-control"/>
        </div>
        <button class="btn btn-primary" ng-disabled="signin.$invalid" ng-click="sisssgnIn()">Sign In</button>
    </form>
</section> -->