<a href="/{{worklist.worklist.url}}" class="btn" ng-show="worklist.worklist.url"><span class="glyphicon glyphicon-eye-open"></span>View</a>
<div class="container col-md-8 col-md-offset-2 wrapper">
  <form name="worklistform">
    <header class="row">
      <input class="h1" id="title" ng-model="worklist.worklist.title" placeholder="Your name" required autofocus=""/>
      <input class="h2" id="address" ng-model="worklist.worklist.address" placeholder="Your address" />
      <section id="contact-details">
	<input class="span" ng-model="worklist.worklist.email" placeholder ="Email" required/>
      </section>
    </header>
    <section id="summary" class="content-section">
      <h1
        popover="The summary section is a brief overview of your career so far. It's your elevator pitch. Tell the world about yourself in under 300 words."
        popover-trigger="mouseenter"
      >Summary</h1>
      <textarea class="p" id="summary-input" ng-model="worklist.worklist.summary" placeholder= "A summary of you"></textarea>
      <section id="career-objective">
        <h2
          popover="Where are you heading? What do want to achieve in your career? Give us a brief overview of your plans for career domination."
          popover-trigger="mouseenter"
        > Career Objective</h2>
        <textarea class="p" id="career-objective" ng-model="worklist.worklist.career_objectives" placeholder="What do you want to achieve in your career?"></textarea>
      </section>
      <section id="key-skills">
        <h2
          popover="Skills pay bills. List your top skills here and keep include ones that will catch the eye of your hirer."
          popover-trigger="mouseenter"
        > Key Skills </h2>
        <ul>
          <li ng-repeat="skill in worklist.worklist.skills_attributes">
            <input ng-model="skill.title" placeholder="Your Key Skills"/><input type='hidden' ng-model="skill.key_skill" />
            <a class="btn btn-danger btn-xs" ng-click="removeKeySkill($index)">-</a>
          </li>
        </ul>
        <a class="btn btn-success btn-xs" ng-click="addKeySkill()">+ Key Skill</a>
      </section>
    </section>
    <section id="job-history" class="content-section">
      <h1
        popover="Here's where you share your work history. We'd recommend starting with your most recent job and working back. "
        popover-trigger="mouseenter"
      >Employment History</h1>
      <div ng-repeat="job in worklist.worklist.jobs_attributes">
        <job-history job="{{job}}"></job-history>
      </div>
      <button class="btn btn-success" ng-click="addSection('job')">Add Job</button>
    </section>
    <section class="row content-section" id="education-history">
      <h1
        popover="Education isn't for everyone, but we've all been through the system. Let your new employer know how far you went."
        popover-trigger="mouseenter"
      >Education History</h1>
      <div ng-repeat="education in worklist.worklist.qualifications_attributes">
        <!-- <education-history education="{{education}}"></education-history> -->
        <section class="education">
  <input class="h3 qualification" ng-model="education.title" placeholder="Qualification earned" />
  <input class="span grade" ng-model="education.grade" placeholder="Grade/Level received"/>
  <input class="span institute" ng-model="education.institute" placeholder="Name of Education Institute"/>
  <a class="btn btn-danger btn-xs"ng-click="removeSection('qualification',$index)" ng-show="$index > 0">Remove</a>
</section>
      </div>
      <button class="btn btn-success" ng-click="addSection('qualification')"><span class="glyphicon glyphicon-plus"></span>Add Education</button>
    </section>
    <section id="skills" class="row content-section">
    </section>
    <section id="interests" class="row content-section">
    </section>
  </form>
</div>

<div class="backdrop is-hidden" backdrop></div>
<section class="row" id="#account-bar">
    <nav class="navbar-fixed-bottom navbar navbar-inverse">
        <div class="navbar-header" role="navigation">
            <a class="navbar-brand" href="/">workli.st</a>
        </div>
        <div class="btn-group navbar-btn float-right">
          <button class="btn btn-primary " ng-click="saveWorkList()">Save</button>
          <button class="btn btn-danger" ng-click="deleteWorkList()">Delete</button>
        </div>
        <button class="btn" ng-show='showSignOut == false' ng-click="showSignInForm()">Sign In</button>
        <button class="btn" ng-show='showSignOut == false' ng-click="showSignUpForm()">Register</button>
        <button class="btn" ng-show='showSignOut' ng-click="signOut()">Sign Out</button>
    </nav>
</section>
<script type="text/ng-template" id="/template/signin.html" ng-init="user = {email: worklist.worklist.email }">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">Sign In</h4>
  </div>
  <div class="modal-body">
    <form name="signin" role="form">
      <div class="form-group">
          <label for="signin-email">Email</label>
          <input type="email" ng-model="user.email" id="signin-email" required class="form-control"/>
      </div>
      <div class="form-group">
          <label for="signin-password">Password</label>
          <input type="password" ng-model="user.password" required ng-minlength="8" id="signin-password" class="form-control"/>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="signin.$invalid" ng-click="signIn()">Sign In</button>
  </div>
</div>
</script>
<script type="text/ng-template" id="/template/signup.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <div class="modal-body">
  <div>
      <div ng-repeat="(key, error) in sigupErrors">
        <div ng-repeat="(errorIndex, errorMessage) in error">
          <span>{{key + ' ' + errorMessage}}</span>
        </div>
      </div>
    </div>
    <p>You can view your WorkList for the next 30 days using the URL below</p>
    <a href="/{{worklist.worklist.url}}" target="_blank" >http://workli.st/{{ worklist.worklist.url }}</a>
    <form name="signin" role="form">
      <div class="form-group">
          <label for="signin-email">Email</label>
          <input type="email" ng-model="user.email" id="signin-email" required class="form-control"/>
      </div>
      <div class="form-group">
          <label for="signin-password">Password</label>
          <input type="password" ng-model="user.password" required ng-minlength="8" id="signin-password" class="form-control"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="signin.$invalid" ng-click="signUp()">Sign Up</button>
  </div>
</script>
<script type="text/ng-template" id="/template/delete.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">Delete WorkList?</h4>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete your worklist?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="closeModal()">Cancel</button>
    <button class="btn btn-danger" ng-click="doDelete()">Delete</button>
  </div>
</script>
