<script type="text/ng-template" id="signup.html">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
    <h4 class="modal-title">Sign Up</h4>
  </div>
  <div class="modal-body">
    <p>You can view your WorkList for the next 30 days using the URL below</p>
    <a href="/{{worklist.user_profile.url}}" target="_blank" >http://workli.st/{{ worklist.user_profile.url }}</a>
    <form name="signin" role="form">
      <div class="form-group">
          <label for="signin-email">Email</label>
          <input type="email" ng-model="user.email" id="signin-email" required class="form-control"/>
      </div>
      <div class="form-group">
          <label for="signin-password">Password</label>
          <input type="password" ng-model="user.password" required ng-minlength="8" id="signin-password" class="form-control"/>
      </div>
      
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="signin.$invalid" ng-click="signIn()">Sign In</button>
  </div>
</script>