%section.row
  %h1.edit#title
    Worklist - ( The CV App )
  %h2.edit#address
    The Shipyards, London
  %section.edit#contact-details
    @shipyard.co
%section.row
  %section#summary
    %h1 Summary
    %p The greatest CV app ever. Does all the things, super easy to use, start editing traight away.
    %section#career-objective
      %h2 Career Objective
      %p
        To create the best online independent CV tools.
    %section#key-skills
      %h2 Key Skills
      %ul
        %li
          Fast!
        %li
          Shareable!
        %li
          Easy!
        %li
          Recruiter Safe!
%section.row#job-history
  %h1
    Employment History
  %section.job
    %h2 Death Star Corp
    %h4 Alderaan Asteroid Field, galaxy far, far away.
    %span.job-start-date
      1-1-2034234234 ... 
    %span.job-end-date
      Ongoing ...
    %h3
      Ion Cannon operator
    %p.company-description
      Universal Empire
    %p.job-description
      World Destroyer, my job was to aim and fire the cannon at worlds.
    %ul.job-skills
      %li
        Good eyesight
      %li
        Steady aim
      %li
        Attention to detail
      %li
        A strong force
      %li
        Windows Vista certified
  %section.job
    %h2
  %section.job
    %h2
  %section.job
    %h2
