= content_for :injectables do

  angular.module('worklist.services').factory('WorkListData', function(){ return #{ raw(t('home').to_json) }});
  var worklist_data = #{ raw(t('home').to_json) }

%div{'ng-view' => ''}
= render :partial => 'home/progressive/account_bar'
