@import 'mixins';

.wrapper{
  background:$cv-colour;
  margin-top: ems(50);
  margin-bottom: ems(50);
  text-align:center; border: 1px solid #ccc;
  border-radius: ems(3);
  overflow: hidden;
}

header{
  h1{
    @include font-size(36);
    @include margin(5, vertical);
  }
  h2{
    @include font-size(18);
    @include margin(5, top);
    color:$text-light;
  }
  #contact-details{
    background:#333;
    margin: 0 auto;
    @include width(70%, all, false);
    color:$light-text;
  }
}

.content-section{
    width: 100%;
    float:left;
    text-align:left;
    @include padding(20);

    h1{
      @include font-size(24);
      color:$text-light;
    }
}

#summary{
  section{
    @include width(50%,all, false);
    float:left;
    h2{
      @include font-size(18);
      color:$text-light;
    }
  }
}

.is-editable{
  border: 1px solid transparent;
  &:hover{
    border: 1px dashed #DDD;
  }
}