@import 'mixins';

.wrapper{
  background:$cv-colour;
  margin-top: ems(50);
  margin-bottom: ems(50);
  text-align:center; border: 1px solid #ccc;
  border-radius: ems(3);
  overflow: visible;
}

input, textarea{
  border:1px solid transparent;
  background:transparent;
  &:active,&:focus{
    background: #FFF;
    border: 1px solid #CCC;
    color:#888;
  }
  resize:none;
}

.cv_wrapper{
  section{
    position: relative;
  }
}


header{
  .h1{
    @include font-size(36);
    @include margin(5, auto);
    clear:both;
    display: block;
    width:70%;
    text-align: center;
  }

  .h2{
    @include font-size(18);
    @include margin(5, auto);
    color:$text-light;
    text-align: center;
    width: 50%;
  }
  #contact-details{
    background:#333;
    margin: 0 auto;
    @include width(70%, all, false);
    color:$light-text;
    input{
      color:$light-text;
      &:focus{
        color:#444;
      }
    }
  }
}

.content-section{
  width: 100%;
  float:left;
  text-align:left;
  @include padding(20);
  position: relative;
  h1{
    @include font-size(24);
    color:$text-light;
  }
  ul{
    li{
      margin:0;
    }
  }
}

#summary{

  textarea{
    width: 90%;
    clear:both;
    display: block;
    @include margin(5, auto);
  }
  section{

    @include width(50%, all, false);
    float:left;
    h2{
      @include font-size(18);
      color:$text-light;
    }
  }
}


#job-history{
  .job-header{
    width: 100%;
    clear:both;
    float:left;
    position: relative;
    .employer{
      float:left;
    }
    .employer-address{
      float:left;
      clear:left;
      font-size: ems(14);
      font-weight: 100;
      width: 30%;
    }
    .job-title{
      position: absolute;
      right: ems(10);
      text-align: right;
    }
    .job-duration{
      position: absolute;
      right: ems(10);
      top: ems(50);
      width: ems(250);
      .job-container{
        float:left;
        width: auto;
        width: 50%;
      }
      input{
      	font-size: ems(12);
      }
    }
  }
  .employer-description, .job-description{
    width: 100%;
  }
}

.is-editable{
  border: 1px solid transparent;

  &:hover{
    border: 1px dashed #DDD;
  }
}

input, textarea{
  &:hover{
    border: 1px dashed #CCC;
  }
}
