@import 'variables';
@import 'functions/main';
@import 'mixins/_layout';
@import 'mixins/_colour';
@import 'mixins/_shapes';

@mixin font-size($size: $em){
  font-size: ems($size);
}


@mixin animation($duration, $delay, $timingfunc, $direction, $name){
  -webkit-animation: $name $duration $timingfunc $delay 1 $direction;
  -moz-animation: $name $duration $timingfunc $delay 1;
  -ms-animation: $name $duration $timingfunc $delay 1;
  -o-animation: $name $duration $timingfunc $delay 1;
  animation: $name $duration $timingfunc $delay 1 $direction;

  // -webkit-animation-fill-mode: $direction;
  // -moz-animation-fill-mode: $direction;
  // -ms-animation-fill-mode: $direction;
  // -o-animation-fill-mode: $direction;
  // animation-fill-mode: $direction;
}

@mixin animations($duration, $delay, $timingfunc, $direction, $names...){
  //WeK
  -webkit-animation-name: $names;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timingfunc;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: 1;
  // Moz
  -moz-animation-name: $names;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timingfunc;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: 1;
  // Ope
  -o-animation-name: $names;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $timingfunc;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: 1;
  //MS
  -ms-animation-name: $names;
  -ms-animation-duration: $duration;
  -ms-animation-timing-function: $timingfunc;
  -ms-animation-delay: $delay;
  -ms-animation-iteration-count: 1;

  animation-name: $names;
  animation-duration: $duration;
  animation-timing-function: $timingfunc;
  animation-delay: $delay;
  animation-iteration-count: 1;
}