// App Colours
$cv-colour: #F5F5F5;
$text: #444;
$text-light: #888;
$light-text: #EEE;
$light-border: #BBB;
$section-border: 1px solid $light-border;
// Important numbers
$line: 20;
$column: 100% / 18;
$font-size: 13;
$em: $font-size * 1;

//converts a px value to ems
// @param $px - value in pixels
// @return em
@function ems($px){
  @return #{$px/$em}em;
}

@function equal-width( $itemCount:4, $width: 100% ){
  @return $width/ $itemCount;
}

@function line-height-ratio($font-size, $line-height){
  @return $line-height / $font-size;
}

@mixin font-size($size: $em){
  font-size: ems($size);
}

@mixin margin( $amount, $direction:all ){
  @if $direction == all{
    margin: ems($amount);
  } @else if $direction == auto{
    margin: ems($amount) auto;
  } @else {
    margin-#{$direction}: ems($amount);
  }
}

@mixin padding( $amount, $direction:all ){
  @if $direction != all{
    padding-#{$direction}: ems($amount);
  } @else {
    padding: ems($amount);
  }
}

@mixin width($width, $type:default, $ems: true){
  $output: '';

  @if $ems == false {
    $output: $width;
  } @else{
    $output: ems($width);
  }

  @if $type == min{
    min-width: $output;
  }@else if $type == max{
    max-width: $output;
  }@else {
    width: $output;
  }

}

@mixin height( $height, $type:all, $ems: true) {
  $output: '';

  @if $ems == false {
    $output: $height;
  } @else{
    $output: ems($height);
  }

  @if $type == min{
      min-height: $output;
  } @else if $type == max {
      max-height: $output;
  } @else {
      height: $output;
  }
}

@mixin animation($duration, $delay, $timingfunc, $direction, $name){
  -webkit-animation: $name $duration $timingfunc $delay 1 $direction;
  -moz-animation: $name $duration $timingfunc $delay 1;
  -ms-animation: $name $duration $timingfunc $delay 1;
  -o-animation: $name $duration $timingfunc $delay 1;
  animation: $name $duration $timingfunc $delay 1 $direction;

  // -webkit-animation-fill-mode: $direction;
  // -moz-animation-fill-mode: $direction;
  // -ms-animation-fill-mode: $direction;
  // -o-animation-fill-mode: $direction;
  // animation-fill-mode: $direction;
}

@mixin animations($duration, $delay, $timingfunc, $direction, $names...){
  //WeK
  -webkit-animation-name: $names;
  -webkit-animation-duration: $duration;
  -webkit-animation-timing-function: $timingfunc;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: 1;
  // Moz
  -moz-animation-name: $names;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $timingfunc;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: 1;
  // Ope
  -o-animation-name: $names;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $timingfunc;
  -o-animation-delay: $delay;
  -o-animation-iteration-count: 1;
  //MS
  -ms-animation-name: $names;
  -ms-animation-duration: $duration;
  -ms-animation-timing-function: $timingfunc;
  -ms-animation-delay: $delay;
  -ms-animation-iteration-count: 1;

  animation-name: $names;
  animation-duration: $duration;
  animation-timing-function: $timingfunc;
  animation-delay: $delay;
  animation-iteration-count: 1;
}