// App Colours
$cv-colour: #FFF;
$text: #444;
$text-light: #888;
$light-text: #EEE;
$light-border: #BBB;
$section-border: 1px solid $light-border;
// Important numbers
$line: 20;
$column: 100% / 18;
$font-size: 13;
$em: $font-size * 1;