<section class="job">
  <a class="btn btn-danger btn-xs" ng-click="removeSection('job',$index)" ng-show="$index > 0" ng-init="jobIndex = $index">Remove</a>
  <div class="job-header">
    <input class="h2 employer" ng-model="job.employer" placeholder="Employer's name"/>
    <input class="h4 employer-address" ng-model="job.address" placeholder="Employer's address"/>
    <input class="h3 job-title" ng-model="job.title" placeholder="Your job title"/>
    <div class="job-duration">
      <div class="job-start job-container">
        <label>Start date: </label>
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="job.start_date"
               is-open="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
               ng-required="true" current-text="Today" clear-text="Clear" close-text="Close" />
      </div>
      <div class="job-end job-container">
        <label>End date: </label>
        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="job.end_date"
               is-open="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
               ng-required="true" current-text="Today" clear-text="Clear" close-text="Close" end-date/>
      </div>
    </div>
  </div>
  <textarea class="p employer-description" ng-model="job.employer_description" placeholder="Description of your employer"></textarea>
  <textarea class="p job-description" ng-model="job.description" placeholder="Description of the job"></textarea>
  <ul ng-show='skill._destroy == null' class="job-skills" ng-repeat="skill in job.skills_attributes">
    <li>
      <input ng-model="skill.title" placeholder="Job specific skill"/>
      <a class="btn btn-danger btn-xs" ng-click="removeJobSkill(jobIndex,$index)">-</a>
    </li>
  </ul>
  <a class="btn btn-success btn-xs" ng-click="addJobSkill(jobIndex)">Add Skill</a>
</section>

