<!DOCTYPE html>
<html ng-app='worklist'>
<head>
  <title>Worklist</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body ng-controller='EditCtrl' >

<%= yield %>

</body>
</html>
